// https://github.com/jasny/bootstrap/blob/master/scss/_fileinput.scss
// Fileinput
// CSS for file upload button and fileinput widget
// ------------------------------------------------

.btnFile {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  display: block;
  > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
  }
}